@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #ccd6f6;
  --secondary-color: #8892b0;
  --tertiary-color: #ccd6f6;
  --accent-color: #64ffda;
  --primary-bg-color: #0a192f;
  --Nav: #0a192f;
  --project: #a8b2d1;
  --project-desc: #112240;
}

.squishy-button {
  @apply relative cursor-pointer text-primary p-[0.6rem] border-2 border-accent rounded-[0.5rem] 
  bg-transparent text-base transition-all duration-150 shadow-squish top-0 left-0 hover:shadow-squished hover:top-[3px] hover:left-[3px];
}

.list-hover {
  @apply transition-all duration-500 hover:text-accent;
}

.image-hover {
  @apply transition-all duration-300 hover:text-accent;
}
